h1{
    color: black;
    text-align: center;
    border-top: solid;
    border-width: 2px;
    border-bottom: solid;
    border-color: black;
    border-radius: 20%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: auto;
  }

  
  .headings{
    color: #4F5874;
    font-size: 20px;
    font-weight: bold;
  }
  body{
background: url(mv.jpg);
width: 100%;
background-attachment: fixed;
  }