#table th,td{
      border: 1px solid black;
    border-style: solid;
    border-width: 2px;
    /*border-color: black;*/
    background-color: #FBEEE6;
    
   }

   .abc
   {
    margin-top: 50px;
   }
   #table{
    /*padding-top: 35px;*/
    /*font-size: 20px;*/
    margin-top: 20px;
   }
   .navbar-default{
    background-color: #E67E22;
   }



#update_table {
    background-color: #E59866;
    margin-top: 50px;
}
 
body{
  background-color: #C0C0C0;
}
 
@media (max-width: 480px)
{
   #inputtype{
  width:120px;
}
#table th,td
{
   font-size: 8px;

}

}
/* Portrait & landscape phone */


/* Landscape phone to portrait tablet */


/* Large desktop */

  